<form class="form">
  <h3>Responsive Registration Form</h3>

  <div class="input">
    <mat-form-field appearance="standard">
      <mat-label>Email Address</mat-label>
      <input matInput placeholder="email address" required>
    </mat-form-field>
    <mat-form-field appearance="standard" required>
      <mat-label>Firstname</mat-label>
      <input matInput placeholder="Placeholder" required>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Lastname</mat-label>
      <input matInput placeholder="Placeholder" required>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Date of Birth</mat-label>
      <input matInput placeholder="Placeholder" required>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Placeholder" required>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">Primary</button>
  </div>
</form>
